@font-face {
    font-family: 'TTLakes-medium';           
    src: url('fonts/TTLakes-Medium.woff');    
    font-weight: 500;                 
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes-regular';           
    src: url('fonts/TTLakes-Regular.woff');                  
    font-style: normal;
}