html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.swiper {
    background-color: #F8F8F8;
    height: 100vh;
    min-width: 320px;
    border-top: 2px solid #D9FFF5;
}

.header__heading {
    font-family: 'TTLakes-regular';
    font-weight: 400;
    font-style: normal;
    color: #7E7E82;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
}

.header {
    height: 80px;
    padding: 16px;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list__item {
    margin: 16px;

    min-width: 230px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFFFFF; 
}

.list__link {
    display: flex;
    align-items: center;   
    padding: 16px;
    justify-content: space-between;
}

img {
    width: 100%;
}

.size {
    width: 100px;
    height: 30px;
    margin-right: 60px;
}

.str-img {
    width: 40px;
    height: 40px;
}

.swiper-slide {
    flex-shrink: 1;
    height: 70px;
}

.swiper-container {
    height: 200px;
}

.swiper-pagination {
    top: 100px;
}

.apple-icon {
    width: 40px;
    height: 40px;

}

.hp-icon {
    width: 40px;
    height: 40px;
}

.image-container {
    width: 7px;
    height: 10px;
    margin-right: 0;
}

.button {
    width: 133px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 31px;
    margin-top: 24px;
}

.button--hidden {
    display: none;
}

.button__text {
    font-family: 'TTLakes-medium';
    font-weight: 500;
    font-style: normal;
}





@media (min-width: 768px) {
    .list {
        display: flex;
        flex-wrap: wrap;
    }

    .list__item {
        margin-right: 0;
    }

    .header {
        height: 56px;
    }

    .button--hidden {
        display: flex;  
    }
}